@using GIMNASIO.Models
@using Microsoft.AspNetCore.Identity
@inject AppDbContext _context;
@inject SignInManager<Cliente> signInManager
@inject UserManager<Cliente> userManager
@inject AppDbContext _context
@inject CarroCompra _carro

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GIMNASIO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/Card-Productos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3" >
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/imagen/logo.png" width="80" />   
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>


                        <!--con un if para ocultar los administradores de ligas, equipos. productos a los clientes-->
                        @if (signInManager.IsSignedIn(User))
                        {
                            var Acceso = User.Claims.Where(x => x.Type == "Admin").FirstOrDefault();
                            if (Acceso != null)
                            {
                                <!-- ver categorias-->
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Categoria" asp-action="ListarCategorias">Categorias</a>
                                </li>

                                <!-- ver Administracion-->
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Administracion" asp-action="Administracion">Administracion</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="listarPedidos">Administracion Pedidos</a>
                                </li>

                            }
                            var AccesoEn = User.Claims.Where(x => x.Type == "Entrenador").FirstOrDefault();
                            if (AccesoEn != null)
                            {
                                <!-- ver Productos-->
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="ListarProductos">Productos</a>
                                </li>

                                <!-- ver Entrenamiento-->
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Entrenamiento" asp-action="ListarEntrenamiento">Entrenamiento</a>
                                </li>
                            }
                            var AccesoCl = User.Claims.Where(x => x.Type == "Cliente").FirstOrDefault();
                            if (AccesoCl != null)
                            {
                                <!--Para clientes-->
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="MisPedidos"><strong>Ver Mis Pedidos</strong></a>
                                </li>

                                <!--Para clientes-->
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="EntrenamientoUsuario" asp-action="ListarEntrenamiento"><strong>Ver Entrenamientos</strong></a>
                                </li>
                                <!--Para clientes-->
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="EntrenamientoUsuario" asp-action="MisEntrenamientos"><strong>Mis Entrenamientos</strong></a>
                                </li>
                            }
                        }

                    </ul>
                </div>

                @if (signInManager.IsSignedIn(User))
                {
                    var Acceso = User.Claims.Where(x => x.Type == "Admin" || x.Type == "Entrenador").FirstOrDefault();
                    if (Acceso != null)
                    {
                        <!--Carro de compra-->
                        <div>
                            <a class="text-reset me-3 mr-3"
                               asp-controller="Carro" asp-action="Index">
                                <i class="fas fa-shopping-cart fa-2x"></i>
                                @{
                                    _carro.CarroItems = _carro.GetCarroItems();
                                }
                                <span class="badge badge-danger">@_carro.CarroItems.Count</span>
                            </a>
                        </div>
                    }
                }


            </div>
        </nav>

        <!-- Para el Inicio de Sesion -->
        <div class="bg-primary mb-5  badge-primary text-white" style="        height: 20px;
        font-size: small;
       
">
            <div class="container" style="        height: 20px;
        margin-top: -20px; 
">
                <partial name="_loginPartial" />
            </div>
        </div>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - GIMNASIO - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
