@using GIMNASIO.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Cliente> signInManager
@inject UserManager<Cliente> userManager

<ul class="nav justify-content-end badge-primary">

    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item badge-primary text-white pr-1" style="height: 20px">
            Bienvenido: @userManager.GetUserName(User)
        </li>
        <li class="nav-item" style="height: 20px;">
            <a asp-controller="Account" asp-action="CerrarSesion"
               style="height:20px;margin-right:10px;" class="badge-primary text-white"><i class="fas fa-sign-in-alt mr-2"></i>Cerrar Sesion</a>
        </li>
    }
    else
    {
        <li class="nav-item  text-white">
            <a class="text-white ml-1" asp-action="Login" asp-controller="Account"><i class="fas fa-sign-in-alt mr-2"></i>Iniciar Sesion</a>
        </li>
    }
</ul>