<div class="container">

    <div class="row justify-content-between">

        <div class="card col-md-3 mr-3 ml-3 mb-3" style="width: 18rem;">
            <img src="~/imagen/caja.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Administración de Productos</h5>
                <p class="card-text">Usted Podra hacer: </p>
                <p>&bull; Agregar Nuevos Productos</p>
                <p>&bull; Modificar Productos</p>
                <p>&bull; Eliminar Productos</p>
                <a asp-area="" asp-controller="Producto" asp-action="ListarProductos" class="btn btn-primary">Ver</a>
            </div>
        </div>


        <div class="card col-md-3 mr-3 ml-3 mb-3" style="width: 18rem;">
            <img src="~/imagen/cliente.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Administración de Clientes</h5>
                <p class="card-text">Usted Podra hacer: </p>
                <p>&bull; Agregar Clientes</p>
                <p>&bull; Modificar Clientes</p>
                <p>&bull; Eliminar Clientes</p>
                <a asp-area="" asp-controller="Cliente" asp-action="ListarCliente" class="btn btn-primary">Ver</a>
            </div>
        </div>


        <div class="card col-md-3 mr-3 ml-3 mb-3" style="width: 18rem;">
            <img src="~/imagen/entrenador.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Administración de Entrenadores</h5>
                <p class="card-text">Usted Podra hacer: </p>
                <p>&bull; Agregar Entrenadores</p>
                <p>&bull; Modificar Entrenadores</p>
                <p>&bull; Eliminar Entrenadores</p>
                <a asp-area="" asp-controller="Cliente" asp-action="ListarEntrenadores" class="btn btn-primary">Ver</a>
            </div>
        </div>

        <div class="card col-md-3 mr-3 ml-3 mb-3" style="width: 18rem;">
            <img src="~/imagen/blogger.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Administración de Admin</h5>
                <p class="card-text">Usted Podra hacer: </p>
                <p>&bull; Agregar Administrador</p>
                <p>&bull; Modificar Administrador</p>
                <p>&bull; Eliminar Administrador</p>
                <a asp-area="" asp-controller="Cliente" asp-action="ListarAdmin" class="btn btn-primary">Ver</a>
            </div>
        </div>

    </div>

    </div>
