<div class="container">

    <div class="card" style="width: 18rem;">
        <img src="~/imagen/caja.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Administracion de Productos</h5>
            <p class="card-text">Usted Podra hacer: </p>
            <p>&bull; Agregar Nuevos Productos</p>
            <p>&bull; Modificar Productos</p>
            <p>&bull; Eliminar Productos</p>
            <a asp-area="" asp-controller="Producto" asp-action="ListarProductos" class="btn btn-primary">Administrar Productos</a>
        </div>
    </div>



</div>