.card-producto {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.detalles-card-producto {
    font-size: small;
}

.card-title{
    height: 48px;
}

.botones-productos {
    padding-bottom: 1.25rem;
}
