@model GIMNASIO.Models.Producto

@{
    ViewData["Title"] = "CrearProducto";
}

<<div class="container text-center">
    <h2>Nuevo Producto</h2>
    <hr>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearProducto" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductoNombre" class="control-label">Nombre</label>
                <input asp-for="ProductoNombre" class="form-control" />
                <span asp-validation-for="ProductoNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductoPrecio" class="control-label">Precio</label>
                <input asp-for="ProductoPrecio" class="form-control" />
                <span asp-validation-for="ProductoPrecio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductoDesc" class="control-label">Descripción</label>
                <input asp-for="ProductoDesc" class="form-control" />
                <span asp-validation-for="ProductoDesc" class="text-danger"></span>
            </div>


            <!--Para subir la imagen-->
            <div class="form-group">
                <label asp-for="ImagenFile" class="control-label">Imagen</label>
                <div class="input-group mb-3">

                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Subir</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" asp-for="ImagenFile">
                        <label class="custom-file-label" for="inputGroupFile01">Elegir Imagen</label>
                    </div>
                </div>
            </div>


            <!--Seleccionar estado-->
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label">Categoría</label>
                <select asp-for="CategoriaId" class ="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>


            <!--Seleccionar Categoria-->
            <div class="form-group">
                <label asp-for="EstadoId" class="control-label">Estado</label>
                <select asp-for="EstadoId" class ="form-control" asp-items="ViewBag.EstadoId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


