@model MembresiaViewModel

@{
    ViewData["Title"] = "AgregarMembresia";
}

<<div class="container text-center">
    <h2>Agregar Membresia</h2>
    <hr>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarMembresia" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaComienzo" class="control-label">Fecha de Inicio</label>
                <input asp-for="FechaComienzo" type="date" class="form-control" />
                <span asp-validation-for="FechaComienzo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoMembresiaId" class="control-label">Tipo de Membresia</label>
                <select asp-for="TipoMembresiaId" class="form-control" asp-items="ViewBag.TipoMembresiaId"></select>
            </div>

            <div class="form-group">
                <label asp-for="MetodoPagoMembresiaId" class="control-label">Metodo de Pago</label>
                <select asp-for="MetodoPagoMembresiaId" class="form-control" asp-items="ViewBag.MetodoPagoMembresiaId"></select>
            </div>

            <div class="form-group">
                <label asp-for="EstadoMembresiaId" class="control-label">Estado de Membresia</label>
                <select asp-for="EstadoMembresiaId" class="form-control" asp-items="ViewBag.EstadoMembresiaId"></select>
            </div>

            <input hidden  asp-for="Id"/>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>