<div class="container text-center">
    <div class="container text-center">
        <h2>Pedido Completado</h2>
        <hr>
    </div>

    <hr />

    <h1>El pedido ha finalizado satisfactoriamente</h1>

    <br>

    <img src="imagenes/check.png" alt="">

    <br>

</div>