<div class="container">
    @{
        ViewData["Title"] = "Pedido Completado";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="card card-cascade narrower view view-cascade gradient-card-header blue-gradient narrower py-2 mb-3 d-flex justify-content-between align-items-center">
        <h2 href="" class="white-text mx-3">Pedido Completado Exitosamente</h2>
    </div>

    <hr />

    <h1>Gracias por tu preferencia. Estamos Preparando tu Compra</h1>

</div>